 body {
font-family: sans-serif ;
line-height: 26px;
color:#773444;
background-color:#45f4 ;
 }
.half-width{
width: 50%;
float:left ;
}
.side-img { 
width: 50%;
padding-left: 25% ;
}
 h3 { text-transform: uppercase;}
.prim-btn{
color:white ;
background-color: #8845f4;
padding: 13px 42px 13px 42px;
border-radius: 20px;
text-decoration: none;
margin-left:20px ;
}
 h1 {
font-size: 2rem;
text-transform:uppercase ;
}
.container{
padding:5% ;
display:inline-block ;}
.experiences{
padding:30px ;
margin: 30px;
background-color:cyan ;
border-radius : 20px;

}
.btn{
background-color:teal;
padding:14px 40px ;
border-radius:12px;
text-decoration:none ;
margin-left: 120px;
}
.experience-item{
    padding: 10px;
    border-left: 1px solid rgba(137, 130, 247, .2);
}
